:root {
  --base-color: white;
  --btn-color: rgb(10, 39, 107);
  --text-color: #111528;
  --heading: rgb(22, 22, 22);
  --center-color: #ffffff;
}

.darkmode {
  --text-color: white;
  --heading: rgb(99, 99, 99);
  --center-color: black;
  --text-color: white;
  --btn-color: orange;
}

.nav i {
  font-size: 1.9rem;
  cursor: pointer;
  margin: 0 15px;
}

#toggle-on {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--center-color);
}

.center {
  padding: 10px;
}

.center p {
  color: var(--text-color);
}

.nav {
  height: 60px;
  background-color: var(--heading);
  color: var(--base-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1;
  padding: 0;
  margin: 0;
}

.nav ul li a {
  text-decoration: none;
  color: var(--base-color);
}

.nav ul li {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 600;
  margin-inline: 2rem;
}

.header h2,
.section h2 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--text-color);
  margin-bottom: 10px;
}

.header button {
  font-size: 1rem;
  font-family: Arial;
  font-weight: 600;
  padding: 13px 10px;
  margin: 6px 0;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 6px;
  color: var(--base-color);
  background-color: var(--btn-color);
}

.section {
  margin: 10px 0;
}

.footer {
  height: 63px;
  background-color: var(--heading);
  color: var(--base-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.1rem;
  margin-top: 20px;
}
